<div id="footer">
            <div class="row">
                <div class="col-md-8">
                    <div class="copyright">
                        <a href="index.htm">Home</a> |
                        <a href="boat-charter.htm" class="boat-charter" title="Private Boat Charter">Private Boat
                            Charter</a> |
                        <a href="charter/private-motor-yacht-charter.htm" class="boat-charter"
                           title="Motor Yacht Charter">Motor
                            Yacht Charter</a> |
                        <a href="charter/private-boat-catamaran.htm" class="boat-charter" title="Private Catamaran">Private
                            Catamaran</a> |
                        <a href="charter/private-tours-by-speed-boat.htm" class="boat-charter"
                           title="Private Speed Boat Charter">Speed Boat Charter</a> |
                        <a href="charter/private-tours-junk-boat.htm">Junk Boat</a> |
                        <a href="destinations.htm" class="destinations" title="Destinations">Destinations</a> |
                        <a href="about-us.htm">About Us</a> |
                        <a href="terms.htm">Terms of Use</a> |
                        <a href="policy.htm">Privacy Policy</a> |
                        <a href="contact-us.htm">Contact Us</a><br/>
                        <span class="para">Copyright © shootyourvacation.com</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="author">HotLine: +66 84 844 8415<br/>
                        TAT Licence 34/00610
                    </div>
                </div>
            </div>


            <!-- <div class="clear"></div> -->
        </div>