 <div class="col-md-12 col-sm-6 col-xs-6">
                            <nav id="navigation" class="navbar navbar-expand-lg navbar-light bg-light">
                                 <!--<a class="navbar-brand" href="#">Navbar</a>-->
                                <button class="navbar-toggler" type="button" data-toggle="collapse"
                                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                        aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>

                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <!-- <ul class="navbar-nav mr-auto"> -->
                                    <!-- <div class="clear"></div> -->
                                    <ul class="mainnav navbar-nav mr-auto">
                                        <li class="nav-item active">
                                            <a href="index.htm" class="home nav-link" title="Home">Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="charter/private-motor-yacht-charter.htm"
                                               class="boat-charter nav-link" title="Motor Yacht Charter">Motor
                                                Yacht </a></li>
                                        <li class="nav-item">
                                            <a href="charter/private-boat-catamaran.htm" class="boat-charter nav-link"
                                               title="Private Catamaran">Catamaran</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="charter/private-tours-by-speed-boat.htm"
                                               class="boat-charter nav-link"
                                               title="Private Speed Boat Charter">Speed Boat </a></li>
                                        <li class="nav-item">
                                            <a href="charter/private-tours-junk-boat.htm" class="destinations nav-link"
                                               title="Junk Boat">Junk Boat</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="destinations.htm" class="destinations nav-link"
                                               title="Destinations">Destinations</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="contact-us.htm" class="contact nav-link" title="Contact Us">Contact
                                                Us</a>
                                        </li>
                                    </ul>
                                    <div class="clear"></div>
                            </nav>
						
                        </div>