<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta name="author" content="ThemeStarz">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Varela+Round" rel="stylesheet">

    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/nivo-slider/nivo-slider.css">
    <link rel="stylesheet" href="css/app.css">

    <title></title>

     {{{_sections.style}}}


</head>
<body>

<div id="wrapper" class="container">
    <div class="titletext">
        Phuket Private Yachts - Luxury boat charters.
    </div>
    <div id="wrapper_header">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="logo">
                        <img class="img-fluid" src="images/logo.png" alt="#########"/>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-12 col-sm-6 col-xs-6">
                            <div class="hotline mt-2"><img src="images/mobile.png" class="tel" alt="" align="absmiddle"/>Hot
                                line +66 (0) 84
                                844 8415
                            </div>
                        </div>
                       {{> nav }}
                    </div>

                </div>
            </div>
        </div>

        <div class="clear"></div>
    </div>
    
    {{{_sections.slider}}}


    <!-- <div class="clear"></div> -->

    <div id="pagecontent">
       
       {{{ body }}}
        
        {{> footer }}

    </div>
</div>

<script src="vendor/jquery/jquery.min.js"></script>
<script type="text/javascript" src="vendor/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="vendor/nivo-slider/jquery.nivo.slider.pack.js"></script>

<script src="js/slider.js"></script>
<script type="text/javascript" src="js/jSlideshow.js"></script>

    {{{_sections.script}}}

</body>
</html>
