{{#section 'slider'}}

    {{> includes/index}}

{{/section}}

 <div class="destinationspage">
            <div class="row">
                <div class="col-md-9 col-lg-8">
                    <div class="clrbox">
                        <h1>
                            Phuket Private Yachts - Luxury Boats Charters</h1>
                    </div>
					
                    <div class="home1">
                       <div class="row">
                           <div class="col-lg-6 col-md-12 ">
                               <div class="boxhome1">
                                   <img class="img-fluid" src="images/home/1.jpg" alt=""/>
                                   <div class="clr"></div>
                                   <h6>
                                       Top Destinations from Phuket</h6>
                                   <p>
								   Phuket Island has got very things to do and go, one of the most popular things to do is
                                   island
                                   hopping, at shootyourvacation.com, we offer huges choice of boats and destinations , which
                                   will give
                                   you much more to do and see..... See our top destinatons !</p>	<br/>
                                   <br/>
                                   <ul class="homep1 ful1">
                                       <li>
                                           <a href="destinations/coral-islands.htm">Coral Island</a>
                                       </li>
                                       <li>
                                           <a href="destinations/khai-islands.htm">Khai Island</a>
                                       </li>
                                       <li>
                                           <a href="destinations/racha-island.htm">Racha Islands</a>
                                       </li>
                                       <li>
                                           <a href="destinations/phi-phi-islands.htm">Phi Phi Island</a>
                                       </li>
                                       <li>
                                           <a href="destinations/krabi-islands.htm">Krabi Ao Nang &amp; Railay</a>
                                       </li>
                                   </ul>
                                   <ul class="homep1 ful2">
                                       <li>
                                           <a href="destinations/koh-lanta-islands.htm">Koh Lanta Islands</a>
                                       </li>
                                       <li>
                                           <a href="destinations/phang-nga-bay.htm">Phang Nga Bay</a>
                                       </li>
                                       <li>
                                           <a href="destinations/similan-islands.htm">Similan Islands</a>
                                       </li>
                                       <li>
                                           <a href="destinations/surin-islands.htm">Surin Islands</a>
                                       </li>
                                   </ul>
                               </div>
                           </div>
                           <div class="col-lg-6 col-md-12 col-11">
                               <div class="boxhome2">
                                   <div id="slideContainer">
                                       <div class="slide">
                                           <div class="slide_pro">
                                               <div class="linehight img-fluid"><img src="images/home/gallery-1.jpg" alt=""/></div>
                                           </div>
                                       </div>
                                       <div class="slide">
                                           <div class="slide_pro">
                                               <div class="linehight"><img src="images/home/gallery-2.jpg" alt=""/></div>
                                           </div>
                                       </div>
                                       <!--  ########################  -->
                                       <div class="slide">
                                           <div class="slide_pro">
                                               <div class="linehight"><img src="images/home/gallery-3.jpg" alt=""/></div>
                                           </div>
                                       </div>
                                       <!--  ########################  -->
                                       <div class="slide">
                                           <div class="slide_pro">
                                               <div class="linehight"><img src="images/home/gallery-4.jpg" alt=""/></div>
                                           </div>
                                       </div>
                                       <!--  ########################  -->
                                       <div class="slide">
                                           <div class="slide_pro">
                                               <div class="linehight"><img src="images/home/gallery-5.jpg" alt=""/></div>
                                           </div>
                                       </div>
                                       <!--  ########################  -->
                                       <div class="slide">
                                           <div class="slide_pro">
                                               <div class="linehight"><img src="images/home/gallery-6.jpg" alt=""/></div>
                                           </div>
                                       </div>
                                       <!--  ########################  -->
                                       <div class="slide">
                                           <div class="slide_pro">
                                               <div class="linehight"><img src="images/home/gallery-7.jpg" alt=""/></div>
                                           </div>
                                       </div>
                                   </div>
                                   <div class="clear"></div>
                                   <div class="clr"></div>
                                   <h6> Private Motor Yachts Charter - Recommend<br/>
                                   </h6>
                                   <p class="text-justify">Phuket has got such a huges marine life . shootyourvacation.com offers you such amazing
                                   experiences
                                   in Island hopping by Luxury Yachts and spending quality time exploring all the beauty and
                                   activities
                                   the Andaman Sea</p><br/>
                                   <br/>
                                   <ul class="homep1 ful1">
                                       <li><a href="charter/private-motor-yacht-charter-olympia.htm">MY Olympia 76 (Olympia) -
                                           Luxury
                                           Yacht </a> <img src="images/hot.gif" alt="" width="21" height="9"/></li>
                                       <li><a href="charter/private-motor-yacht-charter-mayavee.htm">MY Mayavee 60 - Luxury
                                           Yacht </a>
                                           <img src="images/hot.gif" alt="" width="21" height="9"/></li>
                                       <li><a href="charter/private-motor-yacht-charter-olympia.htm">MY Portofino 53 - Luxury
                                           Yacht </a> <img src="images/hot.gif" alt="" width="21" height="9"/></li>
                                       <li><a href="charter/private-motor-yacht-charter-ghibli.htm"> MY Ghibili - Luxury Yacht
                                           <img
                                                   src="images/hot.gif" alt="" width="21" height="9"/></a></li>
                                       <li><a href="charter/private-motor-yacht-charter-my-n-joy36.htm"> MY N Joy 36 - Luxury
                                           Yacht
                                           <img src="images/hot.gif" alt="" width="21" height="9"/></a><br/>
                                       </li>
                                   </ul>

                                   <div class="clear"></div>
                               </div>
                           </div>
                       </div>



                        <div class="clear"></div>
                    </div>
                </div>
                <div class="col-md-5 col-lg-3">
                    <div class="home2">
                        <h5>
                            Why Book With Us?
                        </h5>
                        <ul class="homep2">
                            <li>Unforgettable experiences: Our trips are hand-picked by local experts!
                            </li>
                            <li>Unbeatable low prices: we guarantee we're cheaper. NO PAY MORE !
                            </li>
                            <li>Unbiased reviews &amp; ratings: From Our Guest Reviews with first-hand experience
                            </li>
                            <li>Worry-free guarantee: We guarantee a timely return to your trip
                            </li>
                            <li>24/7 Support: We're here if you need us
                            </li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>


            <!-- <div class="clear"></div> -->
        </div>