{{#section 'slider'}}

    {{> includes/private-boat-catamaran}}

{{/section}}

{{#section 'style'}}
  <style type="text/css">

.style1 {
	color: #FF0000;
	font-weight: bold;
}
.style2 {color: #CC3300;font-size: 14px;}
.style3 {font-size: 14px;}
.style4 {
	font-size: 15px;
	color: #FF0000;
}
.style9 {
	font-size: 14px;
	color: #990000;
	font-weight: bold;
}

        </style>
{{/section}}

 <div class="destinationspage">
            <div class="row">
                <div class="col-12">
                    <div class="clrbox">
                        <h1>
                             Phuket Private Motor Catamaran  Luxury  charters.  </h1>
                    </div>
                        <div class="charterlist">
                         <div class="row">
                            <div class="col-md-4">
                                <div class="charterlist_img">
                                    <img src="../images/motor-yacht-charter/shangani-home.jpg" alt="Luxury Yacht Charter" />                        </div>
                     
                        {{!-- <div class="clear"></div> --}}
                    </div>
                    <div class="col-md-8">
                           <div class="charterlistdetails">
                        <h5> Shangani </h5>
    Shangani, a purpose built yacht, is perfect for entertaining larger groups of guests in comfort. There is an abundance of space on this 3 tiered vessel, which hosts a large dining saloon area, an upper deck outdoor Jacuzzi with bar and a 2 meters width swim platform. <br />
    <br />
    Day Cruise capacity:  upto 50 guests <br />
    <span class="style2">Price from :  150,000 THB /Day</span>
    <div class="clr"></div>
    <span class="moreinfo"><a href="private-catamaran-charters-shangani.htm">more details</a></span>
     </div>
                    </div>
                        </div>
                    </div>
                 
                    <div class="clr">
                        <div class="row charterlist">
                            <div class="col-md-4 charterlist_img"> <a href="lady-kathryn-phuket-yachts-charters.htm"><img src="../images/motor-yacht-charter/special2.gif" alt="#########" /></a><a href="private-motor-yacht-charter-olympia.htm"></a> </div>
                            <div class="col-md-8 charterlistdetails">
                               <h5> Rendez Vous - Powercat 45</h5>
        RENDEZ VOUS is a modern &quot;eco&quot; powered catamaran yacht with an outstanding sea keeping performance, and smartly designed interiors: a perfect blend of modern materials and optimal comfort. She accommodates up to 4 guests for overnight cruising and 10 to 18 guests for day charter- RENDEZ VOUS is not air conditioned but is naturally very well ventilated through out.<br />
        <br />
        Day Cruise capacity:  14 guests <br />
        <span class="style2">Price from : 71,000 THB /Day</span>
        <div class="clr"></div>
        <span class="moreinfo"><a href="private-catamaran-charters-rendez-vous.htm">more details</a></span> 
         </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    
   
                    <div class="clear"></div>
                </div>
            </div>

            </div>
      
