{{#section 'slider'}}

    {{> includes/private-tours-by-speed-boat}}

{{/section}}


 <div class="destinationspage">
            <div class="row">
                <div class="col-12">
                    <div class="clrbox">
                        <h1> Phuket Private  Speed Boat Charter</h1>
                    </div>


                        <div class="wapcontentpage">
<h3 class="h3page">Phuket Private Speed boat charters tours - AT your own tours</h3>
  <p>Phuket Private Boats company is Phuket’s leading private  boat charter company. We are the well experirnce in providing an individually tailored, water-based events. Full-day and half-day excursions on your own private boat and yacht provide you with a unique experience and opportunity to   beaches and islands that are not otherwise easily accessible. <br />
</p>

  <div class="row text-center text-lg-left">

        <div class="col-lg-3 col-md-4 col-xs-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="../images/charter/speedboat1.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="../images/charter/speedboat2.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="../images/charter/speedboat3.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="../images/charter/speedboat4.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="../images/charter/speedboat5.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="../images/charter/speedboat6.jpg" alt="">
          </a>
        </div>
      </div>
<table class="tablerate">
                  <tr>
                    <td width="57%" class="headtable"> Destinations</td>
                    <td width="16%" align="center" class="headtable"><p> 2 Engines<br />
                      Speed Boat<br />
                      (Max 12 Pax)</p></td>
                    <td width="14%" align="center" class="headtable"> 2 Engines<br />
                      Speed Boat <br />
                      (Max. 20 Pax)</td>
                    <td width="13%" align="center" class="headtable"> 3 Engines<br />
                      Speed Boat<br />
                      (Max. 35 Pax)</td>
                  </tr>
                  <tr>
                    <td valign="top"> 1 Phi Phi Islands <br />
                        <span class="yellow2"><span>Maya Bay, Loh Samah Bay, Pileh Cove &amp; Viking Cave, Monkey Beach, </span></span></td>
                    <td class="align"> 26,000 THB<br />
                      <a href="../booking/reserve.php?name=Y1011"><img src="../images/booknow.png"  /></a></td>
                    <td class="align"> 31,500 THB <br />
                      <a href="../booking/reserve.php?name=Y1012"><img src="../images/booknow.png"  /></a></td>
                    <td class="align"> 39,500 THB<br />
                      <a href="../booking/reserve.php?name=Y1013"><img src="../images/booknow.png"  /></a></td>
                  </tr>
                  <tr>
                    <td valign="top" class="yellow2"> 2 Phi Phi Islands + Khai Islands<br />
                        <span>Maya Bay, Loh Samah Bay, Pileh Cove &amp; Viking Cave, Monkey Beach, Khai Nok Island</span></td>
                    <td class="align yellow2"> 27,500 THB<br />
                        <span class="align"><a href="../booking/reserve.php?name=Y1021"><img src="../images/booknow.png"  /></a></span></td>
                    <td class="align yellow2"> 32,000 THB <br />
                        <span class="align"><a href="../booking/reserve.php?name=Y1022"><img src="../images/booknow.png"  /></a></span></td>
                    <td class="align yellow2">40,000 THB<br />
                        <span class="align"><a href="../booking/reserve.php?name=Y1023"><img src="../images/booknow.png"  /></a></span></td>
                  </tr>
                  <tr>
                    <td>3 Phi Phi Island &amp; Bamboo Island<br />
                        <span class="yellow2"><span>Maya Bay, Loh Samah Bay, Pileh Cove &amp; Viking Cave, Monkey Beach, Bamboo Island</span></span></td>
                    <td class="align"> 28,500 THB<br />
                      <a href="../booking/reserve.php?name=Y1031"><img src="../images/booknow.png"  /></a></td>
                    <td class="align"> 33,500 THB<br />
                      <a href="../booking/reserve.php?name=Y1032"><img src="../images/booknow.png"  /></a></td>
                    <td class="align"> 42,500 THB<br />
                      <a href="../booking/reserve.php?name=Y1033"><img src="../images/booknow.png"  /></a></td>
                  </tr>
                  <tr>
                    <td valign="top" class="yellow2"> 4 Phi Phi Islands + Phang Nga Bay (James Bond)<br />
                        <span>Maya Bay, Loh Samah Bay, Pileh Cove &amp; Viking Cave, Monkey Beach, James Bond Island, Hong Island, Swimming and Sightseeing </span></td>
                    <td class="align yellow2"> 36,000 THB<br />
                        <span class="align"><a href="../booking/reserve.php?name=Y1041"><img src="../images/booknow.png"  /></a></span></td>
                    <td class="align yellow2"> 44,000 THB <br />
                        <span class="align"><a href="../booking/reserve.php?name=Y1042"><img src="../images/booknow.png"  /></a></span></td>
                    <td class="align yellow2">58,000 THB<br />
                        <span class="align"><a href="../booking/reserve.php?name=Y1043"><img src="../images/booknow.png"  /></a></span></td>
                  </tr>
                  <tr>
                    <td valign="top">5 Phi Phi Island &amp; Krabi <br />
                        <span class="yellow2"><span>Maya Bay, Loh Samah Bay, Pileh Cove &amp; Viking Cave, Monkey Beach, Krabai, Ao Nang Beach, Railay Bay, Swimming, snorkeling</span></span></td>
                    <td class="align "> 32,000 THB<br />
                      <a href="../booking/reserve.php?name=Y1051"><img src="../images/booknow.png"  /></a></td>
                    <td class="align "> 36,500 THB<br />
                      <a href="../booking/reserve.php?name=Y1052"><img src="../images/booknow.png"  /></a></td>
                    <td class="align "> 58,500 THB<br />
                      <a href="../booking/reserve.php?name=Y1053"><img src="../images/booknow.png"  /></a></td>
                  </tr>
                  <tr>
                    <td valign="top" class="yellow2">6 Phang Nga Bay (James Bond) <br />
                        <span>James Bond Island, Lawa Island, Hong Island, Swimming and Sightseeing </span><br /></td>
                    <td class="align yellow2"> 28,000 THB<br />
                        <span class="align"><a href="../booking/reserve.php?name=Y1061"><img src="../images/booknow.png"  /></a></span></td>
                    <td class="align yellow2"> 33,500 THB<br />
                        <span class="align"><a href="../booking/reserve.php?name=Y1062"><img src="../images/booknow.png"  /></a></span></td>
                    <td class="align yellow2"> 40,000 THB<br />
                        <span class="align"><a href="../booking/reserve.php?name=Y1063"><img src="../images/booknow.png"  /></a></span></td>
                  </tr>
                  <tr>
                    <td valign="top">7 Phang Nga Bay (James Bond) &amp; Khai Island</td>
                    <td class="align "> 29,000 THB<br />
                      <a href="../booking/reserve.php?name=Y1071"><img src="../images/booknow.png"  /></a></td>
                    <td class="align "> 34,000 THB<br />
                      <a href="../booking/reserve.php?name=Y1072"><img src="../images/booknow.png"  /></a></td>
                    <td class="align "> 42,000 THB<br />
                      <a href="../booking/reserve.php?name=Y1073"><img src="../images/booknow.png"  /></a></td>
                  </tr>
                  <tr>
                    <td valign="top" class="yellow2">8 Phang Nga Bay (James Bond) &amp; Krabi<br />
                        <span>James Bond Island, Lawa Island, Hong Island, Swimming and Sightseeing </span><br /></td>
                    <td class="align yellow2"> 32,000 THB<br />
                        <span class="align"><a href="../booking/reserve.php?name=Y1081"><img src="../images/booknow.png"  /></a></span></td>
                    <td class="align yellow2"> 42,500 THB<br />
                        <span class="align"><a href="../booking/reserve.php?name=Y1082"><img src="../images/booknow.png"  /></a></span></td>
                    <td class="align yellow2"> 49,500 THB<br />
                        <span class="align"><a href="../booking/reserve.php?name=Y1083"><img src="../images/booknow.png"  /></a></span></td>
                  </tr>
                  <tr>
                    <td valign="top">9 Raya Island </td>
                    <td class="align "> 25,000 THB<br />
                      <a href="../booking/reserve.php?name=Y1091"><img src="../images/booknow.png"  /></a></td>
                    <td class="align "> 29,000 THB<br />
                      <a href="../booking/reserve.php?name=Y1092"><img src="../images/booknow.png"  /></a></td>
                    <td class="align "> 38,000 THB<br />
                      <a href="../booking/reserve.php?name=Y1093"><img src="../images/booknow.png"  /></a></td>
                  </tr>
                  <tr>
                    <td valign="top" class="yellow2">10. Coral Island</td>
                    <td class="align yellow2"> 19,000 THB<br />
                        <span class="align"><a href="../booking/reserve.php?name=Y10101"><img src="../images/booknow.png"  /></a></span></td>
                    <td class="align yellow2"> 24,500 THB<br />
                        <span class="align"><a href="../booking/reserve.php?name=Y10102"><img src="../images/booknow.png"  /></a></span></td>
                    <td class="align yellow2"> 32,500 THB<br />
                        <span class="align"><a href="../booking/reserve.php?name=Y10103"><img src="../images/booknow.png"  /></a></span></td>
                  </tr>
                  <tr>
                    <td valign="top">11. Raya &amp; Coral Islands</td>
                    <td class="align "> 26,000 THB<br />
                      <a href="../booking/reserve.php?name=Y10111"><img src="../images/booknow.png"  /></a></td>
                    <td class="align "> 30,000 THB<br />
                      <a href="../booking/reserve.php?name=Y10112"><img src="../images/booknow.png"  /></a></td>
                    <td class="align "> 38,000 THB<br />
                      <a href="../booking/reserve.php?name=Y1013"><img src="../images/booknow.png"  /></a></td>
                  </tr>
                  <tr>
                    <td valign="top" class="yellow2">12. Similan Islands </td>
                    <td class="align yellow2">N/A</td>
                    <td class="align yellow2"> 60,000 THB<br />
                        <span class="align"><a href="../booking/reserve.php?name=Y10122"><img src="../images/booknow.png"  /></a></span></td>
                    <td class="align yellow2"> 75,500 THB<br />
                        <span class="align"><a href="../booking/reserve.php?name=Y10123"><img src="../images/booknow.png"  /></a></span></td>
                  </tr>
                  <tr>
                    <td colspan="4" valign="top" class="yellow21">Price Included:
                      <ul class="bb">
                        <li>Tour by Private Speed Boat by your customization program and destinations <br />
                          </li>
                        <li>Mask &amp; Snorkeling, Life Jacket </li>
                        <li>Insurance </li>
                        <li>Captain and Crews </li>
                        <li>Tax and Service Charge </li>
                        <li>Seasoning Fruits and refreshments on board </li>
                        <li>Round trip Land Transfer by A/C Minibus form Patong, Kata, Karon, Phuket Town. <br />
                              <em>*** Extra charge 500 Baht per van for transfer form Layan Beach, Bang Tao, Surin<br />
                                *** Extra charge 1,000 Baht per van for transfer form Nai Yang, Nai Thon, Mai Khao, Airport, Ao Por</em></li>
                      </ul></td>
                  </tr>
                  <tr>
                    <td colspan="4" valign="top" class="yellow2">Excluded:
                      <ul class="bb">
                        <li>Lunch 450 Baht per person </li>
                        <li>National Park Fee 400 Baht per person </li>
                        <li>Sea Canoe **Only Phang Nga Bay 250 Baht per person</li>
                        <li>English speaking guide 1,500 baht per day </li>
                        <li>Please advise us if you wish to add this service </li>
                    </ul></td>
                  </tr>
                  <tr>
                    <td colspan="4" valign="top" class="yellow2">What to bring: Sunglasses, Sun Tan Lotion, Spare T-Shirt and shorts, beach towel, Swimming suite and camera </td>
                  </tr>
                </table>  
                <div align="center"></div>
            <div class="clr"></div>
                </div>
                </div>
            </div>

            </div>
