{{#section 'slider'}}

    {{> includes/private-tours-junk-boat}}

{{/section}}



 <div class="destinationspage">
            <div class="row">
                <div class="col-12">
                    <div class="clrbox">
                        <h1>
                             Phang Nga Bay Day Trip by June Bahtra  </h1>
                    </div>
                        <div class="charterlist">
                         <div class="row">
                            <div class="col-md-4">
                                <div class="charterlist_img">
                                    <img src="../images/motor-yacht-charter/shangani-home.jpg" alt="Luxury Yacht Charter" />                        </div>
                     
                        {{!-- <div class="clear"></div> --}}
                    </div>
                    <div class="col-md-8">
                           <div class="charterlistdetails">
                         <h5><strong>
                              Sunset Dinner Cruise in Phang Nga Bay</strong> ( Dinner Cruise)</h5>
                    Sunset Dinner Cruise in Phang Nga Bay starts at 3 PM and will take you through Ko Lawa for a spectacular sunset over Phang Nga Bay. A delicious buffet dinner will be served on board.
                    <div class="clr"></div><span class="moreinfo"><a href="sunset-dinner-cruise-by-june-bahtra.htm">more details</a></span></div>
  
                    </div>
                        </div>
                    </div>
                 
                    <div class="clr">
                        <div class="row charterlist">
                            <div class="col-md-4 charterlist_img">
                                   <a href="sunset-dinner-cruise-by-june-bahtra.htm"><img src="../images/phang-nga-bay-charter/sunset-dinner-cruise.jpg" alt="#########" /></a>    
                            </div>  
                            <div class="col-md-8 charterlistdetails">
                               <h5><strong>
                              Sunset Dinner Cruise in Phang Nga Bay</strong> ( Dinner Cruise)</h5>
                    Sunset Dinner Cruise in Phang Nga Bay starts at 3 PM and will take you through Ko Lawa for a spectacular sunset over Phang Nga Bay. A delicious buffet dinner will be served on board.
                    <div class="clr"></div><span class="moreinfo"><a href="sunset-dinner-cruise-by-june-bahtra.htm">more details</a></span>
                    </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    
   
                    <div class="clear"></div>
                </div>
            </div>

            </div>
