{{#section 'slider'}}

    {{> includes/private-motor-yacht-charter}}

{{/section}}

 <div class="destinationspage">
            <div class="row">
                <div class="col-12">
                    <div class="clrbox">
                        <h1>
                            Phuket Private Motor Yacht Charter Luxury boat charters.</h1>
                    </div>
                        <div class="charterlist">
                         <div class="row">
                            <div class="col-md-4">
                                <div class="charterlist_img">
                                    <a href="private-motor-yacht-charter-olympia.htm"><img src="../images/motor-yacht-charter/special.gif" alt="#########" /></a>                        </div>
                     
                        {{!-- <div class="clear"></div> --}}
                    </div>
                    <div class="col-md-8">
                           <div class="charterlistdetails">
                            <h5>
                                MY Olympia 76 (Olympia)
                            </h5>
                            MY Olympia is a 76-foot (23 meter) fly-bridge stylish motor yacht with modern lines, featuring 4 cabins with luxurious touches from 385-tread-count bed facilities to Molton Brown. <br />
                            Day Cruise capacity: 20 guests <br />
                            overnight cruises capacity : 8 guests
                            <br />
                            <span class="style2"> Price from :
                          4,200 USD/Day                          </span>
                            <div class="clr"></div><span class="moreinfo"><a href="private-motor-yacht-charter-olympia.htm">more details</a></span>
                        </div>
                    </div>
                        </div>
                    </div>
                 
                    <div class="clr">
                        <div class="row charterlist">
                            <div class="col-md-4 charterlist_img"> <a href="lady-kathryn-phuket-yachts-charters.htm"><img src="../images/motor-yacht-charter/special2.gif" alt="#########" /></a><a href="private-motor-yacht-charter-olympia.htm"></a> </div>
                            <div class="col-md-8 charterlistdetails">
                                <h5> Lady Kathryn - <span class="style9">FREE Meals &amp; Unlimited Alcohol Drinks </span></h5>
                                <span class="style3">The Lady Kathryn was built by Sunbird Yachts (China) in late 2008. She was originally designed for the European Market. Moreton Bay Co., Ld purchased the Lady Kathryn in late 2011 with only demonstration hours usage and then did extensive refurbishment to satisfy the Thai Luxury Charter market <br />
                            Day Cruise capacity: 8 guests  * additonal guest charge 2500 THB /Pax (Max 20 pax)<br />
                            overnight cruises capacity : 8 guests </span><br />
                                <span class="style2"> Price from :
                            4,200 USD/Day </span>
                                <div class="clr"></div>
                                <span class="moreinfo"><a href="lady-kathryn-phuket-yachts-charters.htm">more details</a></span> </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="row charterlist">
                        <div class="col-md-4 charterlist_img">
                            <a href="private-motor-yacht-charter-mayavee.htm"><img src="../images/motor-yacht-charter/charter-mayavee.jpg" alt="#########" /></a>
                        </div>
                        <div class="col-md-8 charterlistdetails">
                            <h5>
                                MY Mayavee 60
                            </h5>
                            MY Mayavee is a 60-foot (18.6 meter) brand new motor yacht from the renowned English family of Princess. MY Mayavee is luxurious and comfortable in all conditions; she combines exceptional sea keeping and cruising capabilities. <br />
                            <br />
                            Day Cruise capacity:  14 guests <br />
                            overnight cruises capacity : 6 guests <br />
                            <span class="style2"> Price from :
                      5,200 USD/Day </span><br />
                            <br />
                            <span class="moreinfo"><a href="private-motor-yacht-charter-mayavee.htm">more details</a></span>                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="clr"></div>
                    <div class="row charterlist">
                        <div class="col-md-4 charterlist_img">
                            <a href="private-motor-yacht-charter-zephyros.htm"><img src="../images/motor-yacht-charter/charter-zephyros.jpg" alt="#########" /></a>
                        </div>
                        <div class="col-md-8 charterlistdetails">
                            <h5>
                                MY Zephyros 58
                            </h5>
                            Enjoy a large safe bathing platform, a wide sunbed or seating arrangement with large U-shaped sofa, a truly spacious below-deck saloon. <br />
                            <br />
                            Day Cruise capacity:  8 guests <br />
                            <span class="style2"> Price from :
                      4,130 USD/Day </span>
                            <div class="clr"></div><span class="moreinfo"><a href="private-motor-yacht-charter-zephyros.htm">more details</a></span>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="clr"></div>
                    <div class="row charterlist">
                        <div class="col-md-4 charterlist_img">
                            <a href="private-motor-yacht-charter-portofino.htm"><img src="../images/motor-yacht-charter/charter-portofino.jpg" alt="#########" /></a>
                        </div>
                        <div class="col-md-8 charterlistdetails">
                            <h5>
                                MY Portofino 53
                            </h5>
                            MY Portofino is highly efficient and practical to run, delivering dynamic performance and exceptional manoeuvrability. She can accommodate up to 8 guests during the day.
                            <br />
                            <br />
                            Day Cruise capacity:  8 guests <br />
                            <span class="style2"> Price from :
                      3,900 USD/Day </span>
                            <div class="clr"></div><span class="moreinfo"><a href="private-motor-yacht-charter-portofino.htm">more details</a></span>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="clr"></div>
                    <div class="row charterlist">
                        <div class="col-md-4 charterlist_img">
                            <a href="private-motor-yacht-charter-my-n-joy36.htm"><img src="../images/motor-yacht-charter/charter-n-joy-36.jpg" alt="#########" /></a>
                        </div>
                        <div class="col-md-8 charterlistdetails">
                            <h5>
                                MY N Joy 36
                                <br />
                                <span class="charterlistdetails style3">The Oryx Sport Cruisers combine power and performance with exceptional styling. Rigid and robust, these elegant creations are built for luxury and comfort, with an eye for detail and a dedication to excellent workmanship.
                               <br />
                               <br />
                                Day Cruise capacity:  6 guests <br />
                                <span class="style4">Price from :
                      2,000 USD/Day</span></span> </h5>
                            <div class="clr"></div><span class="moreinfo"><a href="private-motor-yacht-charter-my-n-joy36.htm">more details</a></span>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="clr"></div>
                    <div class="row charterlist">
                        <div class="col-md-4 charterlist_img">
                            <a href="private-motor-yacht-charter-ghibli.htm"><img src="../images/motor-yacht-charter/charter-ghibli.jpg" alt="#########" /></a>
                        </div>
                        <div class="col-md-8 charterlistdetails">
                            <h5>
                                MY Ghibli 28<br />
                            </h5>
                            It accommodates up to 6 people. The beautifully fitted and spacious cabin uses the highest quality timber hand-crafted by Windy's skilled joiners. The cabin features a large double berth, separate heads, fully equipped galley and capacious, efficient fridge.
                            <br />
                            <br />
                            Day Cruise capacity:  6 guests <br />
                            <span class="style2"> Price from :
                      1,500 USD/Day </span>
                            <div class="clr"></div><span class="moreinfo"><a href="private-motor-yacht-charter-ghibli.htm">more details</a></span>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>

            </div>
