<div class="row">
        <div class="col-md-9 col-lg-8">
            <div class="pageslider">
                <div class="pslider">
                    <div id="slider1" class="nivoSlider">
                        <img src="images/slide-1.jpg" alt="#########" /> <img src="images/slide-2.jpg" alt="" /> <img src="images/slide-3.jpg" alt="" /> <img src="images/slide-4.jpg" alt="" />
                    </div>
                    <div class="clear"></div>
                </div>


            </div>
        </div>
        <div class="col-md-5 col-lg-3">
            <div class="searchbox">
                <h3>
                    Destinations </h3>
                <div class="trips">
                    <ul class="navtrip">
                        <li class="navtrip"><a href="destinations/coral-islands.htm">Coral Island</a></li>
<li class="navtrip"><a href="destinations/khai-islands.htm">Khai Island</a></li>
<li class="navtrip"><a href="destinations/racha-island.htm">Racha Islands</a></li>
<li class="navtrip"><a href="destinations/phi-phi-islands.htm">Phi Phi Island</a></li>
<li class="navtrip"><a href="destinations/krabi-islands.htm">Krabi Ao Nang &amp; Railay</a></li>
<li class="navtrip"><a href="destinations/koh-lanta-islands.htm">Koh Lanta Islands</a></li>
<li class="navtrip"><a href="destinations/phang-nga-bay.htm">Phang Nga Bay</a></li>
<li class="navtrip"><a href="destinations/similan-islands.htm">Similan Islands</a></li>
<li class="navtrip"><a href="destinations/surin-islands.htm">Surin Islands</a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>