<div class="row">
        <div class="col-md-9 col-lg-8">
            <div class="pageslider">
                <div class="pslider">
                     <div id="slider1" class="nivoSlider">
<img src="../images/privatespeedboat1.jpg" alt="" />
<img src="../images/privatespeedboat2.jpg" alt="" />
<img src="../images/privatespeedboat3.jpg" alt="" />
<img src="../images/privatespeedboat4.jpg" alt="" />
<img src="../images/privatespeedboat5.jpg" alt="" />
<img src="../images/privatespeedboat6.jpg" alt="" />
</div>
                    <div class="clear"></div>
                </div>


            </div>
        </div>
        <div class="col-md-5 col-lg-3">
            <div class="searchbox">
                <h3>
                        Find your private trip                    </h3>
                <div class="trips">
                    <ul class="navtrip">
                         <li style="list-style: none; display: inline">
                                <div class="clr"></div>
                            </li>
                            <li class="navtrip">
                                <a href="phang-nga-bay-by-junk-boat-charter.htm">Private June Bahtra</a>                            </li>
                            <li class="navtrip">
                                <a href="private-tours-by-speed-boat.htm">Private Speed Boat Charters</a><a href="private-tours-by-speed-boat.htm"></a>                            </li>
                            <li class="navtrip">
                                <a href="private-fishing-tours-charter.htm">Private Fishing Tours</a>                            </li>
                            <li class="navtrip">
                                <a href="private-motor-yacht-charter.htm">Motor Yacht Charter</a>                            </li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>