<div class="row">
        <div class="col-md-9 col-lg-8">
            <div class="pageslider">
                <div class="pslider">
                    <div id="slider1" class="nivoSlider">
                        <img src="../images/motor-yacht-charter/ghibli-1.jpg" alt="" /> 
                        <img src="../images/motor-yacht-charter/my-mayavee-1.jpg" alt="" /> 
                        <img src="../images/motor-yacht-charter/my-olympia-1.jpg" alt="" />
                         <img src="../images/motor-yacht-charter/portofino-1.jpg" alt="" />
                    </div>
                    <div class="clear"></div>
                </div>


            </div>
        </div>
        <div class="col-md-5 col-lg-3">
            <div class="searchbox">
                <h3>
                    Find your private trip </h3>
                <div class="trips">
                    <ul class="navtrip">
                        <li class="navtrip">
                                <a href="private-motor-yacht-charter-olympia.htm">MY Olympia 76 (Olympia)</a>
                            </li>
                            <li class="navtrip">
                                <a href="private-motor-yacht-charter-mayavee.htm">MY Mayavee 60</a>
                            </li>
                            <li class="navtrip">
                                <a href="private-motor-yacht-charter-zephyros.htm">MY Zephyros 58</a>
                            </li>
                            <li class="navtrip">
                                <a href="private-motor-yacht-charter-portofino.htm">MY Portofino 53</a>
                            </li>
                            <li class="navtrip">
                                <a href="private-motor-yacht-charter-my-n-joy36.htm">MY N Joy 36</a>
                            </li>
                            <li class="navtrip">
                                <a href="private-motor-yacht-charter-ghibli.htm">MY Ghibli 28</a>
                            </li>
                            <li class="navtrip">
                                <a href="lady-kathryn-phuket-yachts-charters.htm">Lady Kathryn</a>
                            </li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>